# ***Expressões Lambdas e Funções Integradas***

As expressões Lambda em Python são também conhecidas como funções anônimas12. Elas são funções que não precisam ser definidas antes de serem usadas1. Aqui estão alguns pontos importantes sobre as expressões Lambda:

* Sintaxe: A sintaxe da função Lambda no Python pode variar de acordo com o caso de uso. No entanto, um exemplo comum seria lambda x: x*0.3, onde x é o parâmetro e x*0.3 é a expressão que será avaliada e retornada1.

* Uso: As funções Lambda são úteis quando você precisa de uma função temporária para uma operação específica, como uma operação matemática ou uma filtragem de listas3. Elas são especialmente úteis quando usadas em conjunto com as funções map, filter e reduce, pois permitem aplicar operações de forma simples e eficiente sobre os elementos de um iterável4.

* Vantagens: A grande vantagem de usar Lambda é criar um parâmetro para outra função. Você não precisa, por exemplo, definir uma função para depois, passá-la para o map1. Isso torna suas tarefas muito mais práticas, objetivas e rápidas1.

* Desvantagens: A função Lambda só não é indicada para quem ainda está aprendendo as ferramentas do Python

In [1]:
#Conhecidas por expressoes Lambdas, são funções sem nome ou seja. Funções anônimas
#Função normal em python
def soma(a, b):
    return a + b

print(soma(4, 6))

10

In [9]:
#Expressão Lambda
nome_completo = lambda nome, sobrenome: nome.strip().title() + " " + sobrenome.strip().title()
print(nome_completo('Francisco','Douglas'))

#Soma
soma = lambda a, b: a + b
print(f'\nA Soma e {soma(5, 4)}')

Francisco Douglas

A Soma e 9

In [14]:
#Exemplo
amar = lambda: 'Como aprender Python'
uma  = lambda x: 3 * x + 1
duas = lambda x, y: (x * y) ** 0.5
tres = lambda x, y, z: 3 / (1 / x + 1/ y * 3)

print(amar())
print(uma(6))
print(duas(3, 4))
print(tres(4, 5, 6))

Como aprender Python
19
3.4641016151377544
3.529411764705882

In [21]:
#Autores
autores = [
    "Jack Nicholson", "Robert De Niro", "Al Pacino", "Denzel Washington", "Sean Connery",
    "Harrison Ford", "Tom Hanks","Marlon Brando","Dustin Hoffman", "Laurence Olivier",
    "Daniel Day-Lewis","Christian Bale","Leonardo DiCaprio","Paulo Autran",
    "Humphrey Bogart","Charles Chaplin","Ivete Sangalo",
    "Fausto Corrêa","Luciano Huck","Larissa Machado"]

autores.sort(key=lambda nome: nome.split(' ')[-1].lower())
print(autores)

['Paulo Autran', 'Christian Bale', 'Humphrey Bogart', 'Marlon Brando', 'Charles Chaplin', 'Sean Connery', 'Fausto Corrêa', 'Daniel Day-Lewis', 'Leonardo DiCaprio', 'Harrison Ford', 'Tom Hanks', 'Dustin Hoffman', 'Luciano Huck', 'Larissa Machado', 'Jack Nicholson', 'Robert De Niro', 'Laurence Olivier', 'Al Pacino', 'Ivete Sangalo', 'Denzel Washington']

### **MAP**

In [33]:
#EXEMPLO COM DEF
import math
def area(r):
    '''Calcula a area de um circulo com raio 'r' '''
    return math.pi * (r**2)
print(area(2))
print(area(5.6))

#Exemplo 
raios = [2, 5, 6, 2, 7, 8]

#Forma comum
areas = []
for r in raios:
    areas.append((area(r)))
print(f'{areas}\n')

#Utilizando map
areas2 = map(area, raios)
print(areas2)
print(list(areas))

#Utilizando lambda
print(list(map(lambda r: math.pi * (r ** 2), raios)))
#OSB: apos utiliza a função map ele zera a memoria

12.566370614359172
98.5203456165759
[12.566370614359172, 78.53981633974483, 113.09733552923255, 12.566370614359172, 153.93804002589985, 201.06192982974676]

<map object at 0x0000024505C14C40>
[12.566370614359172, 78.53981633974483, 113.09733552923255, 12.566370614359172, 153.93804002589985, 201.06192982974676]
[12.566370614359172, 78.53981633974483, 113.09733552923255, 12.566370614359172, 153.93804002589985, 201.06192982974676]

In [37]:
cidades = [('berlim', 29), ('cairo',32), ('londres', 20),('madrid', 35),
    ('roma', 30),('paris', 25),('atenas', 33),('lisboa', 28),('dublin', 15),
    ('amsterdã', 19),('bruxelas', 21), ('viena', 22)
]
print(cidades)

#f = 9/ 5 * c + 32
#Lambda
c_para_f = lambda dado: (dado[0], (9/5) * dado[1] + 32)
print(list(map(c_para_f, cidades)))

[('berlim', 29), ('cairo', 32), ('londres', 20), ('madrid', 35), ('roma', 30), ('paris', 25), ('atenas', 33), ('lisboa', 28), ('dublin', 15), ('amsterdã', 19), ('bruxelas', 21), ('viena', 22)]
[('berlim', 84.2), ('cairo', 89.6), ('londres', 68.0), ('madrid', 95.0), ('roma', 86.0), ('paris', 77.0), ('atenas', 91.4), ('lisboa', 82.4), ('dublin', 59.0), ('amsterdã', 66.2), ('bruxelas', 69.80000000000001), ('viena', 71.6)]

### ***Filter***

In [38]:
#filter() - Filtra dados de uma determinada coleção
valores = 1, 2, 3, 4, 5, 6
media = sum(valores) / len(valores)
print(media)

3.5

In [42]:
#Biblioteca -ara trabalha com dados estatisticos
import statistics

#Dados coletados de algum senso
dados = [1.3, 4.5, 2.6, 6.7, -1, 3]

#Calculando a media dos dados utilizando a funcao mean()
media = statistics.mean(dados)
print(media)

#OBS: Assim como a funcao map(), a filte() recebe dois parametros, sendo
#uma funcao e um iteravel
res = filter(lambda x: x > media, dados)
print(list(res))

2.85
[4.5, 6.7, 3]

In [46]:
#Paises
paises = ["Brasil", "", "Argentina", "", "Chile", "", 
          "Peru", "", "Colômbia", "", "Uruguai", "", 
          "Paraguai", "", "Bolívia", "", "Equador", "", "Venezuela", ""]

print(paises)

res = filter(None, paises)
print(list(res))

#Utilizando Lambda
res2 = list(filter(lambda x: x != "", paises))
print(res2)

['Brasil', '', 'Argentina', '', 'Chile', '', 'Peru', '', 'Colômbia', '', 'Uruguai', '', 'Paraguai', '', 'Bolívia', '', 'Equador', '', 'Venezuela', '']
['Brasil', 'Argentina', 'Chile', 'Peru', 'Colômbia', 'Uruguai', 'Paraguai', 'Bolívia', 'Equador', 'Venezuela']
['Brasil', 'Argentina', 'Chile', 'Peru', 'Colômbia', 'Uruguai', 'Paraguai', 'Bolívia', 'Equador', 'Venezuela']

In [49]:
#Exemplo
usuarios = [
    {"username": "samuel", "tweets": ["Eu adoro Bolo", "Eu adoro Pizza"]},
    {"username": "nome2", "tweets": ["Eu Como", "Quando Quero"]},
    {"username": "nome3", "tweets": []},
    {"username": "nome4", "tweets": []},
    {"username": "nome5", "tweets": ["Sou Bonito"]},
    {"username": "nome6", "tweets": []},
    {"username": "nome7", "tweets": ["Gosto de Sair","Saio"]},
    {"username": "nome8", "tweets": []}
]

print(usuarios)

#FIltra os usuarios Inativos
inativos = list(filter(lambda usuario: len(usuario['tweets']) == 0, usuarios))
print(inativos)

[{'username': 'samuel', 'tweets': ['Eu adoro Bolo', 'Eu adoro Pizza']}, {'username': 'nome2', 'tweets': ['Eu Como', 'Quando Quero']}, {'username': 'nome3', 'tweets': []}, {'username': 'nome4', 'tweets': []}, {'username': 'nome5', 'tweets': ['Sou Bonito']}, {'username': 'nome6', 'tweets': []}, {'username': 'nome7', 'tweets': ['Gosto de Sair', 'Saio']}, {'username': 'nome8', 'tweets': []}]
[{'username': 'nome3', 'tweets': []}, {'username': 'nome4', 'tweets': []}, {'username': 'nome6', 'tweets': []}, {'username': 'nome8', 'tweets': []}]

In [51]:
#Combinando filter e map
nomes = ['ana', 'python', 'java', 'elite', 'nomes']

lista = list(map(lambda nome: f'O Nome e {nome}', 
                 filter(lambda nome: len(nome) <5, nomes)))
print(lista)

['O Nome e ana', 'O Nome e java']

### **Reduce**

In [62]:
'''
OBS: A Partir do Python3.6 a funcao reduce() nao e mais uma funcao integrada
(built-in). Agora temos que importa e utiliza esta função a partir do modulo "functools

Guido van Rossum: Utiliz a funcao reduce() se voce realmente precisa dela. Em todo caso
99% das vezes um loop for e mais legivel"'''

#Assim como map() e filter() a funcao reduce recebe 2 parametros

#Funcionamento do reduce na pratica
from functools import reduce

dados = [1, 45, 3, 11, 34, 6, 7, 8, 12, 15, 9, 10, 4]

#Para utiliza o reduce() precisamos de uma funcao que receba 2 parametros
mult = lambda x, y: x * y
print(f'Utilizando o Reduce: {reduce(mult, dados)}') #"Multiplica os dados"

#OBS: O Reduce funciona como um for
#Ele percorre todos os elementos da lista
res = 1
for n in dados:
    res *= n
print(f'Utilizando o For: {res}')

#Outro
d = [1, 2, 3, 4, 5]
m = lambda x, y: x * y
print(reduce(m, d))

Utilizando o Reduce: 1099308672000
Utilizando o For: 1099308672000
120

### **Any e All**

In [3]:
#Retorna True se todos os elementos do iteravel são verdadeiros ou ainda
#se o iteravel esta vazio

print(all([0, 1, 2, 3, 4, 5, 6]))
print(all([1, 2, 3, 4, 5, 6, 7]))

False
True

In [15]:
nomes = ['MMA', 'Python', 'SQL', 'Carlos', "Alves"]
print(all([nome[0] == "M" for nome in nomes]))
print(all([num for num in [4, 2, 10, 6, 7, 5] if num % 2 == 0]))

False
True

In [18]:
#Any - Retorna True se qualquer elemento do iteravel for verdadeiro
# Se o iteravel estiver vazio, retorna False
print(any([0, 1, 2, 3, 4]))
print(any([False, 0, {}, [], ()]))
nomes = ['MMA', 'Python', 'SQL', 'Carlos', "Alves"]
print(any([nome[0] == "C" for nome in nomes]))

True
False
True

## **Generators**

In [24]:
print(any(nome[0]) == "C" for nome in nomes)

#List comprehension
res = [nome[0] == "C" for nome in nomes]
print(res)

#Generator Tuples comprehension
res = (nome[0] == "C" for nome in nomes)
print(res)

<generator object <genexpr> at 0x000001BE971A1000>
[False, False, False, True, False]
<generator object <genexpr> at 0x000001BE94EEA260>

In [42]:
#Getsizeof
from sys import getsizeof as goff

print(goff("Python Especial"))
print(goff("Programação Dinamica"))

print('\n')
#List Comprehension
print(goff([x * 10 for x in range(1000)]))

#Dic comprehension
print(goff({x * 10 for x in range(1000)}))

#Dictionaru Comprehension
print(goff({x: x * 10 for x in range(1000)}))

#Generator Tuple Comprehension
print(goff(x * 10 for x in range(1000)))

64
93


8856
32984
36952
208

### **Min e Max**

In [43]:
lista = [1, 2, 5, 1, 2, 4, 6, 8]
print(min(lista))
print(max(lista))

1
8

In [47]:
#Reverse
lista = [1 , 2, 3, 4, 5, 6]
print(list(reversed(lista)))

[6, 5, 4, 3, 2, 1]

## Len abs sum round

In [54]:
#Len
lista = [1, 2, 3, 4, 5, 6]
print(f'Tamanho da Lista: {len(lista)} = {lista}')
print(len("Programando em Python"))

#sum
print(f'Soma da Lista: {sum(lista)} = {lista}')

#round

Tamanho da Lista: 6 = [1, 2, 3, 4, 5, 6]
21
Soma da Lista: 21 = [1, 2, 3, 4, 5, 6]

In [59]:
#ABS retorna o valor absoluto
print(abs(-5))
print(abs(5))
print(abs(4.56))
print(abs(-4.35))

#utilizando o abs qualquer numero negativo vira positivo
#o abs não se utiliza com strings

5
5
4.56
4.35

In [62]:
#round retorna um numero aredondado
print(round(10.4)) #Aredonda para 10
print(round(10.6)) #Aredonda para 11
print(round(1.23456, 2)) #Aredonda para 2 casas decimais

10
11
1.23

## ***ZIP***

In [66]:
#Cria um iteravel (Zip Object) que agrega elemento de ada um dos iteraveis passados
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
zip1 = zip(lista1, lista2)
print(zip1, type(zip1))

#Para imprimir o zip devemos converte para algum tipo de conjunto
print(list(zip1))
print(dict(zip1))
print(tuple(zip1))

<zip object at 0x000001BE96F302C0> <class 'zip'>
[(1, 4), (2, 5), (3, 6)]
{}
()

In [8]:
pessoas = [
    {'nome': 'Luiz', 'sobrenome': 'Marcos'},
    {'nome': 'Ana', 'sobrenome': 'Silva'},
    {'nome': 'Pedro', 'sobrenome': 'Alves'},
    {'nome': 'Maria', 'sobrenome': 'Oliveira'},
    {'nome': 'João', 'sobrenome': 'Santos'},
    {'nome': 'Carla', 'sobrenome': 'Pereira'},
    {'nome': 'Fernando', 'sobrenome': 'Costa'},
    {'nome': 'Juliana', 'sobrenome': 'Ribeiro'},
    {'nome': 'Ricardo', 'sobrenome': 'Lima'},
    {'nome': 'Patrícia', 'sobrenome': 'Mendes'}
]

l1 = sorted(pessoas, key=lambda item: item['nome'])
print(f'{l1}')

[{'nome': 'Ana', 'sobrenome': 'Silva'}, {'nome': 'Carla', 'sobrenome': 'Pereira'}, {'nome': 'Fernando', 'sobrenome': 'Costa'}, {'nome': 'João', 'sobrenome': 'Santos'}, {'nome': 'Juliana', 'sobrenome': 'Ribeiro'}, {'nome': 'Luiz', 'sobrenome': 'Marcos'}, {'nome': 'Maria', 'sobrenome': 'Oliveira'}, {'nome': 'Patrícia', 'sobrenome': 'Mendes'}, {'nome': 'Pedro', 'sobrenome': 'Alves'}, {'nome': 'Ricardo', 'sobrenome': 'Lima'}]